<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moyasar.android.sdk">

    <application>
        <activity
            android:name=".ui.PaymentAuthorizationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.PaymentSheetActivity"
            android:exported="true" />
    </application>

</manifest>
